/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

* {
    color: #656565;
}

h1 {
    font-size: 150%;
    margin: 4px 0 2px 0;
}

h2 {
    font-size: 120%;
    margin: 4px 0 2px 0;
}

.navbar-header .navbar-brand {
    color: #357ebd;
}
.navbar-header .navbar-brand:hover {
    color: #285e8e;
}

.unfinished {
    background-color: #ddd;
}

.finished {
    background-color: #5cb85c;
}

.delayed {
    background-color: #ec971f;
}

.status-bar {
    display: inline-block;
    width: 40px;
    height: 12px;
    vertical-align: middle;
}

.footer {
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}