/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_self
 */

* {
    color: #656565;
}

h1 {
    font-size: 150%;
    margin: 4px 0 2px 0;
}

h2 {
    font-size: 120%;
    margin: 4px 0 2px 0;
}

body {
    padding-bottom: 80px;
}

.navbar-header .navbar-brand {
    color: #357ebd;
}
.navbar-header .navbar-brand:hover {
    color: #285e8e;
}

.unfinished {
    background-color: #ddd;
}

.finished {
    background-color: #5cb85c;
}

.delayed {
    background-color: #ec971f;
}

.status-bar {
    display: inline-block;
    width: 40px;
    height: 12px;
    vertical-align: middle;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 640px) {
    .container-small {
        width: 360px;
    }
}
@media (max-width: 640px) {
    .container-small {
        width: 274px;
    }
}
.container-small {
    margin: 0 auto;
}

.card {
    background-color: #f7f7f7;
    padding: 40px;
    border-radius: 2px;
    box-shadow:  #999 0px 2px 2px 0px;
    margin: 5px 0;
}
.login-card input:not([type=checkbox]) {
    border: 1px solid #c4c4c4;
    border-collapse: collapse;
    height: 40px;
    padding: 2px 5px;
    width: 100%;
}

.login-card .logo {
  color: #357ebd;
  font-size: 25px;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}