// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
fieldset {
    margin: 20px auto;
}

#print_output {
    display: none;
}

@media print {
    html body .container * {
        display: none;
    }

    #print_output, #print_output *{
        display: block;
    }

    html, body {
        width: 210mm;
        height: 297mm;
    }

    .page-break {
        page-break-before: always;
    }

    canvas {
        width: 100%;
    }

    @page {
        size: portrait A4;
        margin-top: 5mm;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }
}